In [1]:
#access pandas and give shortcut
import pandas as pd

In [ ]:
#ceate series-labelled column of data
s=pd.Series([100, 200, 300],index = ['Jan','Feb','Mar'])
print(s)
#series=1D labeled array
#index=labels for each value(row labels)

Jan    100
Feb    200
Mar    300
dtype: int64

In [ ]:
#create dataframe-a full table with rows and columns
data={
    'Month':['Jan','Feb','Mar'],
    'Sales':[100,200,300],
    'Expenses':[80,150,250]
}

df=pd.DataFrame(data)
print(df)

#DataFrame is 2D labeled data structure with columns and rows
#keys of dictionary become column names
#lists become rows

  Month  Sales  Expenses
0   Jan    100        80
1   Feb    200       150
2   Mar    300       250

In [ ]:
#load data from csv file
df=pd.read_csv('data/sales.csv'))


#read_csv reads csv file
#data/sales.csv is the path to file

#alternatives for specificity   
df.head() #first 5 rows
df.tail() #last 5 rows
df.info() #summary of dataframe
df.describe() #statistical summary of numerical columns eg mean, std. min, max

In [ ]:
#select columns and rows
df['Sales'] #returns a series

#select multiple columns
df[['Sales','Expenses']] #returns a dataframe

#select rows by index position
df.iloc[0] #first row by posistion
df.loc[0] #first row by label
  #iloc-index location by number
  #loc-label location by name

In [ ]:
#filter and slice
 #filter rows
df[df['Sales']>150] #rows where sales>150
 #slice rows
df[1:3] #rowa 1 and 2

In [6]:
#mini challenge-create dataframe for monthly revenue and expenses
data={
    'Month':['Jan','Feb','Mar','Apr','May'],
    'Revenue':[1200,1500,1700,1600,1800],
    'Expenses':[800,700,900,850,950]
}
df=pd.DataFrame(data)

df['Profit']=df['Revenue']-df['Expenses']
df[df['Profit']>600]

  Month  Revenue  Expenses  Profit
1   Feb     1500       700     800
2   Mar     1700       900     800
3   Apr     1600       850     750
4   May     1800       950     850

In [ ]:
#to inspect for neatness
df.isnull() .sum() #count of missing values in each column
df.dtypes #data types of each column
df.columns #list of column names